#heroimage {
    display: block;
    text-align: center;}
    #heroimage span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #heroimage img {
      width: 100%;
      height: auto; }
      

      .card:nth-of-type(even) {
        text-align: right; }
        .card:nth-of-type(even) img {
          float: left; }
       