

 nav {
   font-family: "Oswald", sans-serif;
   font-weight: 300;
   background-color: #0C7CB3;
   margin: 0 auto; }

       nav .active {
        text-align: center;
        padding: 0.8rem 2%;
        transition: height 0.5s;
        -webkit-transition: height 0.5s;
        transition: 0.5s; }
        nav .active .dropbtn{
          color: #0C7CB3;
          background-color: #87D8FF;
          transition: height 0.5s;
             -webkit-transition: height 0.5s;
             transition: 0.5s; 
        }
