  
 .active {
    text-align: center;
    padding: 0.8rem 2%;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    transition: 0.5s; }
     .active .dropbtn{
      color: #0C7CB3;
      background-color: #87D8FF;
      
    } 
     .active:hover {
      padding: 1em; }
   
  