// colors
$h1Color:#B36200;
$h1BgColor:#FFD39E;
$h2Color:#FFA12F;
$h3Color:#0C7CB3; //exception is nav and foot, where's it's the bg
$h3BgColor:#87D8FF; //and vice versa
// fonts
$fontFamily:'Oswald', sans-serif;
$boldOswald:700;
$lightOswald:300;
$paragraphFont:"arial";
//other stuff
$boxShadow:3px 3px 4px rgba(0, 0, 0, 0.3);
$boxShadowTrans:0 8px 16px 0 rgba(0,0,0,0.2);